.primary {
    color: var(--primary-color);
}

.error {
    color: var(--red-color);
}

.text-sm {
    font: var(--font-sm);
}

.text-md {
    font: var(--font-m);
}

.text-lg {
    font: var(--font-l);
}

.text-xl{
    font: var(--font-xl);
}

.text-xxl{
    font: var(--font-xxl);
}