.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    transition: width .3s;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 10px;
    flex-shrink: 0;
}

.rolledUp {
    width: var(--sidebar-width-rooled-up);
}

.switchers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rolledUp .switchers {
    flex-direction: column;
}

.inner {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonRolledUp {
    right: -40px;
    bottom: 40px;
    position: absolute;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: start;
}

.icon {
    width: 30px;
    height: 30px;

    * {
        fill: var(--bg-color);
    }
}