.custom-theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #F4F4FB;
    --primary-color: #000000;
    --secondary-color: #00aaff;
    --inverted-primary-color: #5e69ee;
    --inverted-secondary-color: #39AFEA;
    --overlay-background-color: #F4F4FB;
}