.custom-theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #F4F4FB;
    --primary-color: #000;
    --secondary-color: #000;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #000;
    --overlay-background-color: #F4F4FB;
    --skeleton-shadow-color: #636363;
    --skeleton-color: #555;
    --code-bg: #50ffbc;
    --code-border: #000;
}