.dark-theme {
    --bg-color: #1c1e26;
    --inverted-bg-color: #e3e1d9;
    --primary-color: #B877DB;
    --secondary-color: #E95678;
    --inverted-primary-color: #478824;
    --inverted-secondary-color: #16a987;
    --overlay-background-color: #00000080;
    --skeleton-shadow-color: #636363;
    --skeleton-color: #555;
}