.light-theme {
    --bg-color: #fce9e4;
    --inverted-bg-color: #03161b;
    --primary-color: #F43E5C;
    --secondary-color: #8931B9;
    --inverted-primary-color: #0bc1a3;
    --inverted-secondary-color: #76ce46;
    --overlay-background-color: #00000080;
    --skeleton-shadow-color: #636363;
    --skeleton-color: #555;
    --code-bg: #50ffbc;
    --code-border: #000;
    --menu-bg: #F8C3BF;
    --listbox: #fff;
    --popover-list: #fff;
    --drawer-bg: #fff;
}