.ArticleList-big {
    display: grid;
    gap: 16px;
}

.ArticleList-small {
    display: flex;
    gap: 16px;
}

.List {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}