.profileCard {
    border: 1px solid var(--inverted-bg-color);
    padding: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.body {
    gap: 24px;
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(180px, 1fr));
    width: 100%;
}

.avatar {
    grid-row: span 2;
}

.edit {
    border: solid 1px var(--secondary-color);
}