.profileCard {
    border: 1px solid var(--inverted-bg-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 5px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.body {
    gap: 24px;
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(180px, 1fr));
}

.avatar {
    grid-row: span 2;
}

.edit {
    border: solid 1px var(--secondary-color);
}